//VARIABLES
%header_a {
	background-color: green;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
	color: white !important;
	border: 1px solid #ebebeb;
	border-radius: 7%;
}
%head_a {
//	background-color: green;
	padding: 4px 6px 4px 6px;
	text-decoration: none;
	font-size: 110%;
	color: white !important;
//	border: 1px solid #ebebeb;
//	border-radius: 7%;
}
$old-footer-color: #D3D3D3;
$main-bSackground-color: #5C615D;
$main-background-color: #EBEBEB;
$primary-color: #2e4600;
$secondary-color: #ffbb00;
$third-color: #07575b;
$line-space: 30px;
$smartphone: "(min-width: 0px) and (max-width: 467px)";
//$smartphone: "(min-width: 0px) and (max-width: 467px)";
$mobile: "(min-width: 468px) and (max-width: 767px)";
//$mobile: "(min-width: 468px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
//$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 992px)";
%spc {
	line-height: $line-space;
	text-align: justify;
	//font-size: 120%;
//	overflow-x: hidden;
}
.btn-success {
	//background-color: #2e4600 !important;
	//border: 1px solid #2e4600 !important;
}

//VARIABLES ENDS
.smallest-font {
	font-size: 70%;
}
.small-font {
	font-size: 75%;
}
.medium-font {
	font-size: 80%;
}
.sm-medium-font {
	font-size: 85%;
	//@extend %spc;
}
.lg-medium-font {
	font-size: 90%;
}
$smallest-font: 70%;
$small-font: 75%;
$medium-font: 80%;
$sm-medium-font: 85%;
$lg-medium-font: 90%;
$near-normal-font: 95%;
$normal-font: 100%;
$md-normal-font: 105%;
$lg-normal-font: 110%;
#asterisks {
	color: red;
	font-size: 50%;
}
body {
	font-family: 'Libre Baskerville', serif;
	overflow-x: hidden;
	//background-color: #E9EBEE;
	background-color: $main-background-color;
}
.middle-column {
	 background-color: #FFFFFF;
	 @media #{$desktop} {
	 	margin-top: 30px;
	 	padding-top: 30px;
	 }
	 @media #{$tablet} {
		margin-top: 25px;
	 	padding-top: 25px;
	}
	@media #{$smartphone} {
		margin-top: 1px;
	 	padding-top: 1px;
	}
}
header {
	background-color: gree;
	//  padding-left: 40px;
	font-family: 'Cormorant Garamond', serif;
	width: 100%;
	.head-scroll-row {
	//	background-color: #1A8532;
		background-color: #ebebeb;
		padding-left: 40px;
		min-height: 50px;
		h3 {
			//  margin-left: 500px;
			position: absolute;
			left: 20%;
		}
		a {
			// @extend %header_a;
			background-color: #9b0909;
			padding: 3px 5px 3px 5px;
			text-decoration: none;
			color: white;
			border: 1px solid #ebebeb;
			border-radius: 8%;
		}
		a:hover {
			background-color: #f45757;
			color: #eaeaea;
			transition: 0.7s;
		}
		#log {
			background-color: #0a0a86;
		}
		#log:hover {
			background-color: #2121e3;
		}
	}
	.head-fixed-row {
		font-size: 100%;
		min-height: 40px;
		.navbar-default {
			height: 70px !important;
			margin-bottom: 10px !important;
			background-color: #1A8532 !important;
		}
		.navbar {
			margin-bottom: 0px !important;
    		border: 0px solid transparent !important;
		}
		//	padding-left: 40px;
		z-index: 9 !important;
	//	box-shadow: 4px 10px 5px 4px #888888;
		//box-shadow: 4px 10px 5px 4px #1D9712;
		//	margin-right: 0px;
		//background-color: #ebebeb;
		//background-color: #1A8532;
		//background-color: #33c733;
		ul {
				margin-left: 0px;
			margin-top: 4px;
		}
		li {
			margin: 4px 8px 4px 0px;
			//  padding: 4px 6px 4px 6px;
			a {
				@extend %head_a;
			}
			a:hover {
				background-color: #33c733 !important;
				color: #eaeaea;
				transition: 0.7s;
			}
		}
	}
	.first-nav-ul {
		position: absolute;
		right: 0px;
	}
	.first-nav-ulist {
		position: absolute;
		right: 0%;
		top: -4%;
		a {
			// @extend %header_a;
			background-color: #9b0909;
			padding: 3px 5px 3px 5px;
			text-decoration: none;
			color: white;
			border: 1px solid #ebebeb;
			border-radius: 2%;
		}
		a:hover {
			background-color: #f45757;
			color: #eaeaea;
			transition: 0.7s;
		}
		#log {
			background-color: #0a0a86;
		}
		#log:hover {
			background-color: #2121e3;
		}
	}
	.second-nav-ul {}
}
.navbar-default {
	background-color: $primary-color;
}
//LANDING PAGE BEGINS
@media #{$smartphone} {
	.land_header {
		display: none;
	}
}
.landing-page {
	@media #{$smartphone} {
	//	display: none;
	}
	.ism-slider {
		z-index: 0 !important;
		@media #{$smartphone} {
		//	height: 200px;
		}
		img {
			height: 100vh;
			@media #{$smartphone} {
			//	height: 100vh;
			}
		}
	}
	.screen-slider {
		label {
			//color: #5381B3;
			color: white;
		}
		h1,h2 {
			//color: #07575b !important;
			color: $secondary-color !important;
		}
		.first {
			@media #{$smartphone} {

			}
		}
		form span {
			color: red;
		}
		.pael {
			h3 {color: white;}
			span{}
			.panel-body {
				//background-color: #E1DDD2 !important;
				//background-color: rgba(203, 193, 195, 0) !important;
			}
		}
		form {
			font-size: 80%;
		}
	}
	.ind_spc {
		//height: 5%;
	}
	h3 {
		@media #{$smartphone} {
			font-size: $normal-font;
		}
	}
	p {
		//@extend %spc;
		line-height: $line-space;
		@media #{$smartphone} {
			font-size: $lg-medium-font;
		}
	}
	.ind_top {
		margin: 1% 0% 1% 0%;
	}

	.ind_mid {
		h1,h2,h4,h5,p {
			color: white !important;
		}
//		background-color: #1A8532;
		background-color: $third-color;
		table {
		//	background-color: $secondary-color;
			td {
				color: white;
			}
		}
	}
}
//LANDING PAGE ENDS

//FOOTER //////////////////////////////////////////////
footer {
	@media (min-width: 0px) {
		a {
			color: white;
		//	font-size: $small-font;
		}
		p {font-size: $small-font; color: white;}
		.list-inline {
			font-size: $smallest-font;
		}
		.btn-group .btn {
			margin-right: 0.7em;
		}
		.cards-first {
		//	margin-left: 0.7em;
		}
		.cards {
			margin-left: -0.7em;
		}
		.cards-icon {
			margin-left: -0.7em;
			font-size: 180%;
		}
	}
}
//FOOTER //////////////////////////////////////////////

//FIRST COLUMN
.first-column {
	@media #{$tablet} and #{$desktop} {
		width: 22%;
		.left_sidebar {
		//	background-color: #D3D3D3;
			background-color: #D3D3D3;
			margin-left: -15px;
			margin-right: 15px;
			width: 85%;
			height: 100vh;
    		z-index: 1;
		}
		.all {
			padding-top: 50px;
		}
	}
	ul {
		li{font-size: $smallest-font;}
		a {
			color: darkgreen;
		}
	}
}

//FIRST COLUMN
//INNOVATOR PROFILE COLUMN
.innovator-profile {
	.left_side {
		background-color: #FFFFFF;
	}
	.all{
		@media #{$smartphone} {
			padding-top: 15px;
			.img-responsive {
				width: 40%;
			}
		}
		@media #{$mobile} {
			.img-responsive {width: 40%;}
		}
		@media #{$tablet} {
			.img-responsive {
				width: 50%;
			}
		}
	}
	li h6 a {color: darkgreen;}
	h4 {
		@media #{$smartphone} {
			font-size: $near-normal-font;
		}
	}
}

//INNOVATOR PROFILE COLUMN
//MIDDLE COLUMN
//DASHBOARD
h4 {
	font-size: $near-normal-font;
}
.dashboard-category {
	h4 {
	//	font-size: $small-font;
	@media #{$tablet} {
		//	font-size: $smallest-font;
		}
	@media #{$smartphone} {
			font-size: $near-normal-font;
		}
	}
	h6 a {
		color: darkgreen;
		//font-size: $small-font;
	@media #{$tablet} {
		//	font-size: $medium-font;
		}
	}
	.dashboard_images {
		img {
		//	height: 120px;
			box-shadow: 0px 4px;
			@media #{$smartphone} {
			    height: 300px;
			}
			@media #{$mobile} {
			    height: 350px;
			}
			
			@media #{$desktop} {
			    height: 165px;
			}
		}
	}
}
//DASHBOARD
//STARTUPS BEGINS
.startups {
	img {
		@media #{$smartphone} {
			height: 200px;
		}
		@media #{$mobile} {
			height: 350px;
		}
		@media #{$tablet} {
			height: 180px;
		}
		@media #{$desktop} {
			height: 180px;
		}
	}
	h4 {
		@media #{$smartphone} {
			font-size: $near-normal-font;
		}
	}
	h3 {
	@media #{$smartphone} {
		font-size: 110%;
		}
	}
	p {
		@media #{$smartphone} {
			line-height: 25px;
			font-size: $small-font;
		}
		@media #{$mobile} {
			margin-top: 7px;
			line-height: 25px;
			font-size: $near-normal-font;
			a {font-size: $medium-font;}
		}
		@media #{$tablet} {
			font-size: $sm-medium-font;
		}
		@media #{$desktop} {
			font-size: $lg-medium-font;
		}
	}
}
//STARTUPS ENDS
//SHOW STARTUPS ENDS
.show-startups {
	label {
		padding-left: 20px;
		@media #{$desktop} {
			font-size: $small-font;
		}
	}
	li {
		font-size: $sm-medium-font;
	}
	@media #{$mobile} {
			padding-top: 10px;
		}
	img, #startup_img .img-responsive {
		@media #{$smartphone} {
			height: 90%;
			width: 100% !important;
		}
	}
	.more-images {
		@media #{$smartphone} {
			height: 200px;
		}
		.img-responsive {	
			@media #{$mobile} {
				height: 200px;
			}
			@media #{$tablet} {
				height: 150px;
			}
			@media #{$desktop} {
				height: 150px;
			}
		}
		@media #{$desktop} {
			//height: 160px;
		}
	}
	h3 {
	@media #{$smartphone} {
		font-size: 110%;
		}
	}
	h4 {
	@media #{$smartphone} {
		font-size: $near-normal-font;
		}
	@media #{$mobile} {
		font-size: $md-normal-font;
		}
	@media #{$desktop} {
		font-size: $lg-normal-font;
		}
	}
	p {
		font-size: $sm-medium-font;
		@extend %spc;
		@media #{$smartphone} {
			line-height: 25px;
		}
		@media #{$tablet} {
			line-height: 25px + 3;
		}
	}
	.comments {
		border-bottom: 1px solid lightgrey;
		@media #{$smartphone} and #{$mobile} {
			h4, span {
				font-size: $small-font;
			}
			p {
				font-size: $smallest-font;
				padding-left: 2em;
				margin-bottom: 0px;
			}
		}
	}
}
//SHOW STARTUPS ENDS
//CREATE STARTUP ENDS
.create-startup {
	label {
		@media #{$smartphone} {
			font-size: $near-normal-font;
		}
	}
	h3 {
	@media #{$smartphone} {
		font-size: $near-normal-font + 20;
		}
	}
}
//CREATE STARTUP ENDS
//MIDDLE COLUMN
//THIRD COLUMN
.third-column {
	//img {width: 1% !important;}
	 img {
		@media #{$smartphone} {
			width: 90%;
		}
		@media #{$tablet} {
			width: 100% !important;
		}
		@media #{$desktop} {
			width: 100% !important;
		}
	}
	.suggestions {
		height: 60px;
		a {
			color: brown;
			text-transform: uppercase;
			font-size: $small-font;
		}
		span {
			@media #{$desktop} {
				//line-height: $line-space - 20;
				font-size: $smallest-font;
			}
		}
		@media #{$desktop} {
			height: 80px;
		}
	}
}
//THIRD COLUMN
@media #{$smartphone} {
	#in_reg {
//		height: 270vh;
	}
}
#in_reg {
	/*@media #{$smartphone} {
		height: 340vh;
	}
	@media #{$tablet} {
		height: 270vh;
	}
	@media #{$desktop} {
		height: 200vh;
	} */
//	background-image: -webkit-linear-gradient(rgba(16, 52, 53, 0.592156862745098), rgba(0, 0, 0, 0.6980392156862745)), url(http://i.imgur.com/C69C6ZV.jpg);
	background-color: $third-color;
	background-position: center;
	background-size: cover;
	label {
		color: white;
	}
	.panel-default {
		background-color: #ebebeb !important;
	}
	span {
		color: red;
	}
}
//LOGIN
.login {
	@media #{$smartphone} {
		padding-top: 20px;
	//	width: 105%;
	}
	@media #{$desktop} {
		padding-top: 40px;
		//width: 160px;
	}
}
//LOGIN

.left_sidebar {
	a,p,h1,h2,h3,h4,h5,h6,li {
		color: black;
	}
	.all {
	
	}
}

.sidebar-nav-fixed {
  
  //  height: 100vh;
   // z-index: 1;
   // width:21.97%;
 //   width:19.5%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
   //     position:static;
     //   width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
   //     top:70px;
    }
}

/*on small screen size add to benefits with and margin, remove margint-top from h3:first-child of works

.works {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://cvws.icloud-content.com/B/AZ8J7YBhna_3wMH-At91BtdyildbAbABw-Fl7bA7w1t8PttPXFSF4mw9/business-meeting-1238188_1280.jpg?o=AhVk16NnFTWJYF_cCmshuHoVfDA0q95OM00HvTV1p89s&v=1&x=3&a=BXS9TGT8Wd6jA8yJOw&e=1496417965&k=8wnQrbEjDonXSgEZJrjxtQ&fl=&r=5ab1b138-8604-4305-b08a-17ac03a2bbb0-1&ckc=com.apple.clouddocs&ckz=com.apple.CloudDocs&p=64&s=4hdGLDB9CO96MZBLQykcPhai1l0&cd=i);
	background-position: center;
	background-size: cover;
	height: 100vh;
	h3,h4 {
		color: rgba(199, 188, 188, 0.77);
		line-height: 50px;
	}
	h5 {
		line-height: 35px;
		color: #AADAEA;
	}
}

.benefits {
	background-color: rgba(47, 38, 38, 0.62);
	//width: 90%;
	margin-left: 5%;
	h3 {
		color: rgba(235, 229, 229, 0.88);
		line-height: 50px;
		text-decoration: underline;
		text-decoration-color: black;
	}
	p {
		color: rgba(235, 229, 229, 0.88);
	}
	> p {
		text-decoration: underline;
	}
	ul {
		list-style: none;
	}
}
*/
.bb {
	padding: 0% 7% 0% 0%;
}

#accordion h3 {
	color: green !important;
}

.ui-accordion .ui-accordion-header {
	background-color: lightgreen! important;
}

//startups lists begins
.one {
	>.row {
		border: 1px solid black;
		border-radius: 0.5%;
		margin: 15px 0px 15px 0px;
	}
	.panel-body {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
}

//startup lists ends
//ddldld
//MEDIA QUERIES BELOW
@media only screen and (max-width: 7px) {
	header {
		font-size: 70%;
		h1 {
			font-size: 2em;
		}
		.head-fixed-row {
			min-height: 40px;
			padding-left: 25%;
			ul {
				margin-left: 0%;
				//    margin-top: 4px;
			}
			li {
				margin: 4px 8px 4px 8px;
			}
			a {
				//      font-size: 119%;
			}
		}
	}
}
@media only screen and (max-width: 750px) {
	#in_reg {
	//	height: 250vh;
	}
	.ism-slider {
	//height: 200px !important;
	}

}

@media (min-width: 767px) { //change to min-width
	.navbar-nav.navbar-center {
		position: absolute;
		left: 35%;
		top: 17%;
		//transform: translatex(-50%);
	}
	.mobilehead {
		visibility: hidden;
		z-index: 99 !important;
	}
	.new-head {
		display: none;
	}
}
#brand {
	position: absolute;
	top: 20%;
	left: 5%;
	font-family: 'Sofia';
	letter-spacing: 2px;
	transform: skew(2deg,-1deg);
	//transform: translatex(-50%);
	@media #{$tablet} {
		font-size: 150%;
		top: 25%;
	}
	@media #{$desktop} {
		font-size: 150%;
	}
}

//DISABLE LINKS
.not-active {
   pointer-events: none;
   cursor: default;
}

//RESPONSIVE VIEWS
//@media only screen and (max-width: 866px) {
//@media only screen and (max-width: 767px) {
@media only screen and (max-width: 991px) {
	#left {
	//	visibility: hidden !important;
		display: none !important;
	}
	.dashboard_images {
		img {
		//	height: 190px;
		//	box-shadow: 0px 4px;
		}
	}
}
@media #{$desktop} {
	.left_side {
	//	display: none;
		width: 22%;
	}
}
//@media only screen and (min-width: 468px) {
@media (min-width: 468px) {
	#mobile-search {
		display: none;
	}
}
.left_sidebar {
	background-color: #D3D3D3 !important;
	margin-left: -15px; 
	margin-right: 15px; 
	width: 85%; 
	height: 100vh;
}

